
@font-face {
    font-family: 'Mark';
    src: url('../font/Mark-Heavy.eot');
    src: local('../font/Mark Heavy'), local('Mark-Heavy'),
        url('../font/Mark-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/Mark-Heavy.woff') format('woff'),
        url('../font/Mark-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FF Mark Regular';
    src: url('Mark-Regular.eot');
    src: url('Mark-Regular.eot?#iefix') format('embedded-opentype'),
    url('Mark-Regular.woff') format('woff'),
    url('Mark-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Mark';
    src: url('../font/Mark-Thin.eot');
    src: local('../font/Mark Thin'), local('Mark-Thin'),
        url('../font/Mark-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Mark-Thin.woff') format('woff'),
        url('../font/Mark-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@media screen and (max-width:320px) {
    body{
        width: 100%;
    }
    .header{
        width: 320px !important;
        margin-top: 0;
    }

    .logo{
        width: 25%;
        margin-left: 70px;
    }

    .header_container{
        margin-top: 0px !important;
        margin: 0 auto;
        width: 320px;
        justify-content: space-around !important;
        background: #061223;
    }

    

    .nav_menu {
        display: none !important;
    }
    .nav_signup{
        display: none !important;
    }
    .nav_signup_icon{
        display: flex !important;
        background-color: rgb(6 18 35);
        color: white;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
    }

    .nav_signup_icon:hover{
        color: #ff7070;
    }
    .container {
        width: 100% !important;
        height: 640px !important;
    position: absolute;
    margin: 0 auto;
    display: contents;
    }
    
    .text {
            /* width: 611px; */
    /* margin-top: 110px; */
    /* margin-left: 25px; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto !important;
    }
    
    .h1{
        margin: 0 !important;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    font-family: 'Mark';
    font-style: normal;
    font-weight: 800;
    font-size: 60px !important;
    line-height: 127px;
    color: #FFFFFF;
    }
    
    .h2{
        margin: 0;
    margin-top: 0px !important;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    font-family: 'Mark-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 20px !important;
    line-height: 38px;
    letter-spacing: 0.5em;
    color: #EF9C9C;
    }
    .p{
        margin: 0;
    margin-top: 15px !important;
    font-family: 'Mark-Regular';
    font-style: normal;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    font-weight: normal;
    text-align: center !important;
    font-size: 20px !important;
    line-height: 25px;
    text-align: justify;
    color: #D8D8D8;
    }

    .smart{
        display: none !important;
    }
    .src {
    position: absolute !important;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    }
    .content1 {
        margin-bottom: 30px;
    }
    .content2 {
        margin-bottom: 30px;
    }
    .content3 {
        
    }
}


@media screen and (max-width:768px) {
    body{
        width: 100%;
    }
    .header{
        width: 768px !important;
        margin-top: 0;
    }

    .logo{
        width: 25%;
        margin-left: 70px;
    }

    .header_container{
        margin-top: 0px !important;
        margin: 0 auto;
        width: 768px;
        justify-content: space-around !important;
        background: #061223;
    }

    

    .nav_menu {
        display: none !important;
    }
    .nav_signup{
        display: none !important;
    }
    .nav_signup_icon{
        display: flex !important;
        background-color: rgb(6 18 35);
        color: white;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
    }

    .nav_signup_icon:hover{
        color: #ff7070;
    }
    .container {
        width: 100% !important;
        height: 640px !important;
    position: absolute;
    margin: 0 auto;
    display: contents;
    }
    
    .text {
            /* width: 611px; */
    /* margin-top: 110px; */
    /* margin-left: 25px; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto !important;
    }
    
    .h1{
        margin: 0 !important;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    font-family: 'Mark';
    font-style: normal;
    font-weight: 800;
    font-size: 60px !important;
    line-height: 127px;
    color: #FFFFFF;
    }
    
    .h2{
        margin: 0;
    margin-top: 0px !important;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    font-family: 'Mark-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 20px !important;
    line-height: 38px;
    letter-spacing: 0.5em;
    color: #EF9C9C;
    }
    .p{
        margin: 0;
    margin-top: 15px !important;
    font-family: 'Mark-Regular';
    font-style: normal;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    font-weight: normal;
    text-align: center !important;
    font-size: 20px !important;
    line-height: 25px;
    text-align: justify;
    color: #D8D8D8;
    }

    .smart{
        display: none !important;
    }
    
}


body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #08162B;
}


main{
    display: flex;
}

.header{
    width: 1366px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.header_container{
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: flex-end;
    justify-items: center;
}

.burger{
    display: none;
}


.logo{
    display: flex;
}

.nav_menu{
    padding-left: 0px;
    display: inline-table;
}

.nav_menu ul {
    display: flex;
    padding-left: 75px;
}

.nav_menu li {
    padding-right: 50px;
    list-style-type: none;
}

.nav_menu a{
    font-family: 'Mark';
    font-weight: 600;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.nav_menu a:hover{
    border-bottom:2px solid #ff7070;
}

.nav_signup {
    width: 128px;
    height: 47px;
    font-size: 18px;
    line-height: 19px;
    color: white;
    background-color: #F29494;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.nav_signup:hover {
    background-color: #ff7070;
    color: white;
}


.nav_signup_icon {
    display: none;
}

.container {
    width: 1347px;
    height: 797px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.text {
    width: 611px;
    margin-top: 110px;
    margin-left: 25px;
}

.h1{
    margin: 0;
    font-family: 'Mark';
    font-style: normal;
    font-weight: 800;
    font-size: 75px;
    line-height: 127px;
    color: #FFFFFF;
}

.h2{
    margin: 0;
    margin-top: 25px;
    font-family: 'Mark-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.5em;
    color: #EF9C9C;
}
.p{
    margin: 0;
    margin-top: 45px;
    margin-bottom: 10px;
    font-family: 'Mark-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    text-align: justify;
    color: #D8D8D8;
}

.smart {
    display: inline-table;
    height: 75%;
    margin-top: 150px;
}

.src {
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 611px;
    height: 325px;
    margin-top: 30px;
}

.content1{
    width: 190px;
    background: #2B3544;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 41px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content1 img{
    height: 256px;
}
.content1:hover{
    cursor: pointer;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: .2s ease .1s;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.content2{
    width: 190px;
    background: #2B3544;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 41px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content2:hover{
    cursor: pointer;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: .2s ease .3s;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.content3{
    width: 190px;
    background: #2B3544;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 41px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content3:hover{
    cursor: pointer;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: .2s ease .3s;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

h3{
    font-family: 'Mark';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    margin: 0;
    color: #FFFFFF;
}

.src p{
    margin: 0;
    font-family: 'Mark';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;
}
